<!-- <h1>Wong Chen Keong</h1>
<h2 class="cpa">CPA Australia</h2> -->


<!-- BIO CONTAINER -->
<div class="bio-container">

    <div id="name-cpa-objective" class="name-cpa-objective">
        <div class="name">
          Wong Chen Keong
        </div>
        <div class="cpa">
          CPA Australia
        </div>
        <div class="objective">
          I am a Certified Practising Accountant (CPA) with CPA Australia. <br/> I code with Python and JavaScript. I aim to seek for useful mean of using Technology in the Business and Accounting and Finance field.
        </div>
    </div>

    <div class="profileimage-location-contact">
            <!-- Image -->
            <div class="profile-image-container">
                <img id="myimage" class="myimage" src="profile_image.png"/>
            </div>

            <!-- Contact -->
            <div id = "location-contact-container" class="location-contact-container">
                <div class="name contact-header">Contact</div>
                <div class="contact-link">For contact details <<a href="mailto:chenkeong288@gmail.com">Email me here</a>></div>
            </div>
    </div>
    
</div>



<!-- LINE SEPERATING BIO AND CONTENT -->
<div class="line-seperating-bio-and-content">
</div>



<!-- RESUME CONTENT CONTAINER -->
<div class="resume-content-container">
  <div class="first-page-left">

      <!-- Professional Work Experience -->
      <div class="content-header professional-work-experience-container">
          <div class="content-header-design">1</div>
          <div class="content-header-word">PROFESSIONAL WORK EXPERIENCE</div>
      </div>

      <!-- PwC -->
      <div class="sub-header pricewaterhousecoopers">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>PricewaterhouseCoopers Malaysia</b> <br/> 
          <b>Assurance | Senior Associate </b> <br/>
          <i>September 2013 - January 2018 · 4 years</i>
        </div>        
      </div>

      <ul class="description">
          <li>
              Lead audit engagement as senior-in-charge from audit commencement to completion, for public listed and non-listed companies.
          </li>
          <li>
              Successfully managed and coordinated expectations between managers and clients.
          </li>
          <li>
              Prepared full set Statutory Financial Statements and Group Consolidated Account.
          </li>
          <li>
              Performed analysis on identified audit issues with audit engagement team, drafted and presented recommended solutions to client.
          </li>
          <li>
              Prepared Audit Committee Report for meeting with Audit Committee of public listed company.
          </li>
          <li>
              Performed reporting to Group Auditor from external firm based on Group Audit Instructions.
          </li>
          <li>
              Performed Valuation of Capitalised Development Cost for software development.
          </li>
          <li>
              Performed Discounted Cash Flow Analysis for going concern evaluation.
          </li>
          <li>
              Involved in special audit engagement for client and government agency, MIDA, for review of authorised development expenditures.
          </li>
          <li>
              Improved audit efficiency and reduce engagement cost, consecutively in 2016 and 2017, via budget management and agile team movement between client locations to optimise work efficiency.
          </li>
          <li>
            Able to multi-task and work with tight deadlines and capable of handling through situation of inadequate staff due to staff turnover, by optimising task allocation and properly coach existing team members in engagement team.
          </li>
      </ul>

      <div class="industry-specialisation">
          <u>Industry and sector specialisation:</u> <br/>
          Pharmaceutical | Logistics | Manufacturing | <br/>
          Retail | Technology
      </div>

      <!-- Ernst & Young -->
      <div class="sub-header ernst-and-young">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Ernst & Young Malaysia</b> <br/> 
          <b>Assurance | Vacation Trainee </b> <br/>
          <i>December 2012 – February 2013 · 3 months</i>
        </div>        
      </div>      

      <ul class="description">
          <li>
              Performed Test of Controls for purchase and payables cycle with walkthrough procedure.
          </li>
          <li>
              Attended 3 year-end physical inventory count.
          </li>
          <li>
              Performed Housing Development Act (HDA) testing for 8 companies with 17 HDA accounts.
          </li>
      </ul>

      <!-- Volunteer Work Experience -->
      <div class="content-header volunteer-work-experience-container">
          <div class="content-header-design">2</div>
          <div class="content-header-word">VOLUNTEER WORK EXPERIENCE</div>
      </div>      

      <!-- Next Academy -->
      <div class="sub-header next-academy">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Next Academy</b> <br/> 
          <b>Mentor | Programming – Front End Development </b> <br/>
          <i>April 2018 · 1 month</i>
        </div>        
      </div>  

      <ul class="description">
          <li>
              A programming course organised by Yayasan Raja Muda Selangor (YRMS) and Next Academy, for students to learn and improve coding and product development skills.
          </li>
          <li>
              Taught JavaScript, HTML and CSS to a class of 10 students from different working backgrounds.
          </li>
          <li>
              Worked closely and guided students for successful presentation on lesson learnt, to the representatives of YRMS.
          </li>
      </ul>

      <!-- Professional Qualification and Membership -->
      <div class="content-header professsional-qualification-and-membership-container">
          <div class="content-header-design">3</div>
          <div class="content-header-word">PROFESSIONAL QUALIFICATION & MEMBERSHIP</div>
      </div>

      <!-- CPA Australia -->
      <div class="sub-header cpa-australia">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>CPA Australia</b> <br/> 
          Admitted to Full Membership of CPA Australia on 2017
        </div>        
      </div>

      <!-- Education -->
      <div class="content-header education">
          <div class="content-header-design">4</div>
          <div class="content-header-word">EDUCATION</div>
      </div>

      <!-- Data Science by LEAD -->
      <div class="sub-header data-science-by-lead">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Data Science 360 Certification</b> <br/> 
          <i>2018</i> <br/>
          Data Science <br/>
          Data Analytics, Data Mining
        </div>        
      </div>

      <!-- Next Academy -->
      <div class="sub-header next-academy">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Next Academy</b> <br/> 
          <i>2018</i> <br/>
          Full Stack Web Development <br/>
          JavaScript, Ruby, Ruby on Rails, HTML, CSS
        </div>        
      </div>      

      <!-- Monash University -->
      <div class="sub-header monash-university">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Monash University Sunway Campus</b> <br/> 
          <i>2010 – 2013</i> <br/>
          Bachelor of Business and Commerce <br/>
          Accounting, Banking and Finance
        </div>        
      </div>

      <!-- Sunway University College -->
      <div class="sub-header sunway-university-college">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Sunway University College</b> <br/> 
          <i>2009</i> <br/>
          Canadian International Matriculation Programme <br/>
        </div>        
      </div>

      <!-- SMK Ketari -->
      <div class="sub-header smk-ketari">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Sekolah Menengah Kebangsaan Ketari</b> <br/> 
          <i>2004 - 2008</i> <br/>
          Computer Science Stream <br/>
        </div>        
      </div>

      <!-- Skills & Competencies-->
      <div class="content-header skills-and-competencies">
          <div class="content-header-design">5</div>
          <div class="content-header-word">SKILLS & COMPETENCIES</div>
      </div>

      <!-- Accounting and Finance -->
      <div class="sub-header accounting-and-finance">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Accounting and Finance</b>
        </div>       
      </div>

      <div class="skills-parent">
        <div class="skills-child">Financial report preparation and analysis</div>
        <div class="skills-child">Intrinsic value valuation</div>
        <div class="skills-child">Budgeting</div>
        <div class="skills-child">Technical analysis</div>
        <div class="skills-child">Fundamental analysis</div>
        <div class="skills-child">Discounted cash flow analysis</div>
      </div>

      <!-- Data Analytics and Coding skills -->
      <div class="sub-header data-analytics-and-coding">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Data Analytics and Coding skills</b>
        </div>       
      </div>

      <div class="skills-parent">
        <div class="skills-child">Data analytics</div>
        <div class="skills-child">Data mining</div>
        <div class="skills-child">Natural language processing</div>
        <div class="skills-child">Web development</div>
        <div class="skills-child">Python</div>
        <div class="skills-child">JavaScript</div>
        <div class="skills-child">Ruby</div>
        <div class="skills-child">HTML/CSS</div>
      </div>

      <!-- Language proficiency -->
      <div class="sub-header language-proficiency">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Language proficiency</b>
        </div>       
      </div>

      <div class="sub-header-field language">Written & Verbal</div>      

      <div class="skills-parent">
        <div class="skills-child">English</div>
        <div class="skills-child">Bahasa Malaysia</div>
      </div>

      <div class="sub-header-field language">Verbal</div>      

      <div class="skills-parent">
        <div class="skills-child">Chinese</div>
        <div class="skills-child">Cantonese</div>
      </div>

      <!-- Office and Productivity tools -->
      <div class="sub-header office-and-productivity-tools">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Office and Productivity tools</b>
        </div>       
      </div>

      <div class="skills-parent">
        <div class="skills-child">Microsoft Excel</div>
        <div class="skills-child">Microsoft Word</div>
        <div class="skills-child">Microsoft PowerPoint</div>
        <div class="skills-child">Adobe Photoshop CS6</div>
      </div>

      <!-- Personal and Management skills -->
      <div class="sub-header personal-and-management-skills">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Personal and Management skills</b>
        </div>       
      </div>

      <div class="skills-parent">
        <div class="skills-child">Team work</div>
        <div class="skills-child">Able to work with tight deadline</div>
        <div class="skills-child">Leadership</div>
        <div class="skills-child">Perseverance</div>
        <div class="skills-child">Analytical thinking</div>
        <div class="skills-child">Conceptual thinking</div>
        <div class="skills-child">Long term thinking</div>
      </div>

  </div>


  <div class="first-page-right">

      <!-- Achievements -->
      <div class="content-header achievements">
          <div class="content-header-design">6</div>
          <div class="content-header-word">ACHIEVEMENTS</div>
      </div>

      <!-- Won Investment Challenge -->
      <div class="sub-header won-investment-challenge">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Won Investment Challenge</b> <br/> 
          <i>2018</i>
        </div>        
      </div> 

      <ul class="description">
          <li>
              Participated and won as Top 10 prize winner, out of 186 participants in simulated Investment Challenge organised by Wealth Academy using fundamental analysis.
          </li>
      </ul>

      <!-- HealFly - Built and Pitched Healthcare Tourism Platform -->
      <div class="sub-header healfly">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Built and Pitched Healthcare Tourism Platform</b> <br/> 
          <i>2018</i>
        </div>        
      </div> 

      <ul class="description">
          <li>
              Built a minimum viable healthcare tourism platform with a team of 5 and presented on a pitch of 70 attendees of potential investors and employers.
          </li>
          <li>
              HealFly integrates healthcare and tourism, by listing international medical professionals on app, allowing travellers to discover and reserve cross- border medical services.
          </li>          
      </ul>

      <!-- Best Project Leader -->
      <div class="sub-header best-project-leader">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Best Project Leader – Monash Accounting and Finance Club (MAFC)</b> <br/> 
          <i>2012</i>
        </div>        
      </div> 

      <ul class="description">
          <li>
              Awarded as Best Project Leader of Monash Accounting and Finance Club (MAFC) in 2012.
          </li>
          <li>
              Participated actively in brain storming, ideas contribution and event management as well as securing sponsorships.
          </li>          
      </ul>

      <!-- Speaker Series Event -->
      <div class="sub-header speaker-series-event">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Record Attendance - MAFC ‘Speaker Series’ Event</b> <br/> 
          <i>2012</i>
        </div>        
      </div> 

      <ul class="description">
          <li>
              Invited Mr Patrick Ng, Partner at PwC Malaysia, to Monash to deliver a speech entitled ‘Insights to Building a Successful Career’.
          </li>
          <li>
              Attracted club record of exceeding 130 audiences.
          </li>          
      </ul>

      <!-- Personal Projects & Developments -->
      <div class="content-header personal-projects-and-development">
          <div class="content-header-design">7</div>
          <div class="content-header-word">PERSONAL PROJECTS & DEVELOPMENT</div>
      </div>

      <!-- Field -->
      <div class="sub-header-field">Finance</div>

      <!-- Finance - Technical analysis / Fundamental analysis / Intrisic value valuation -->
      <div class="sub-header technical-analysis">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Technical Analysis | Fundamental Analysis | Valuation of Company Intrinsic Value</b> <br/> 
          Studied Technical Analysis, Fundamental Analysis and Valuation of Company Intrinsic Value by reading books and attending investment course.
        </div>        
      </div>

      <!-- Field -->
      <div class="sub-header-field">Information Technology (IT)</div>

      <!-- IT - Tic-Tac-Toe -->
      <div class="sub-header tic-tac-toe">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Ai vs Human Tic-Tac-Toe</b> <br/> 
          Successfully built a Tic-Tac-Toe game with Artificial Intelligence capable of beating human player.
        </div>        
      </div>

      <!-- IT - Stock Trading Decision Assistance-->
      <div class="sub-header stock-trading-decision-assistance">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Built Stock Trading Decision Assistance</b> <br/> 
          Used finance knowledge learnt above to build a stock trading decision assistance tool.
        </div>        
      </div>

      <!-- IT - Pyautogui-->
      <div class="sub-header pyautogui">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Automated Computer Action using Python</b> <br/> 
          Automated keyboard and mouse actions on computer using Python framework and library.
        </div>        
      </div>

      <!-- IT - Personal Profile Website-->
      <div class="sub-header personal-profile-website">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Built a Personal Profile Website</b> <br/> 
          The website you are reading is personally built from scratch. </br/>
          Uses the Ruby on Rails framework for backend and database with JavaScript, HTML and CSS for frontend. <br/>
          Website is device responsive. Enjoy reading anytime and every where. 
        </div>        
      </div>      

      <!-- Interests -->
      <div class="content-header interests">
          <div class="content-header-design">8</div>
          <div class="content-header-word">INTERESTS</div>
      </div>

      <div class="skills-parent interest-parent">
        <div class="skills-child interest-child">Ai</div>
        <div class="skills-child interest-child">Coding</div>
        <div class="skills-child interest-child">Data analytics/Big data</div>
        <div class="skills-child interest-child">Finance</div>
        <div class="skills-child interest-child">Marvel</div>
        <div class="skills-child interest-child">Reading</div>
        <div class="skills-child interest-child">Technology</div>
        <div class="skills-child interest-child">Trance music</div>
      </div>

      <!-- Goal In 2019-->
      <div class="content-header goal-in-2019">
          <div class="content-header-design">9</div>
          <div class="content-header-word">My Goals in 2019</div>
      </div>

      <!-- Learn to swim -->
      <div class="sub-header learn-to-swim">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Learn to swim.</b> <br/> 
        </div>        
      </div> 

      <!-- Data analytics and Machine learning -->
      <div class="sub-header data-analytics-ml">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Continue improving my data analytics and machine learning skills.</b> <br/> 
        </div>        
      </div> 

      <!-- Python community -->
      <div class="sub-header python-community">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Create a vibrant Python computing community in Malaysia.</b> <br/> 
        </div>        
      </div> 

      <!-- Integrate Technology with Accounting and Finance -->
      <div class="sub-header tech-acc-finance">
        <div class="sub-header-design">O</div>
        <div class="sub-header-word"> 
          <b>Continue seeking useful mean of using Technology in Accounting and Finance field.</b> <br/> 
        </div>        
      </div> 

      <!-- Game-->
      <div class="content-header game">
          <div class="content-header-design">10</div>
          <div class="content-header-word">The Ai Game</div>
      </div>

      <div class="flex-game-button">
        <%= link_to "Ai Tic-Tac-Toe gym", tictactoe_path, class:"game-button" %>
      <div>

  </div>
</div>


<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script type="text/javascript">

  //Compute height of content container
  var location_contact_container = document.getElementById("location-contact")
  var location_contact_container_style = getComputedStyle(location_contact_container)
  var height = location_contact_container_style.height
  var integer_height = parseInt(height)

  //Assign height of content container to the image
  var my_profile_image = document.getElementById("myimage")
  my_profile_image.style.height = integer_height + "px"
  my_profile_image.style.width = integer_height + "px"

</script> -->


